#titulo-agendaMed{
display: flex;
flex-direction: row;
align-items:center;
text-align: center;
}



.container{
    position: relative;
    background-color: rgba(12,74,147,1);
    
}

#imagem{
    background-image: url(imagens/imagem-postinho.png);
    opacity: 0.4;
    background-repeat: repeat-x;
}
#titulo-agendaMed{
    position: absolute;
    top: 20%;
    right: 40%;
}